.hobbyContainer {
  border-style: dotted;
}
.hobbyText {
  height: 280px;
  width: 200px;
}

.hobbyHeading {
  color: rgb(150, 196, 245);
  font-size: 32px;
  text-decoration: underline;
  background-color: rgb(3, 52, 36);
}
